.text-input {
  border:  #cacccd;
  // box-shadow: 0 6.5px 17px rgba(0,0,0,0.30), 0 5.5px 4px rgba(0,0,0,0.22);
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}


.SingleDatePickerInput {
  border:  #cacccd;
  // box-shadow: 0 6.5px 17px rgba(0,0,0,0.30), 0 5.5px 4px rgba(0,0,0,0.22);
}

.DateRangePickerInput {
  border:  #cacccd;
  // box-shadow: 0 6.5px 17px rgba(0,0,0,0.30), 0 5.5px 4px rgba(0,0,0,0.22);
}